
      .icon {
        /* width: 100%;
        max-width: 900px;
        margin: 0 20px; */
      }
      .icon svg {
        width: 100%;
      }
      .icon #path1 {
        fill: transparent;
        stroke: #FFF;
        stroke-width: 1;
        stroke-dasharray: 450;
        stroke-dashoffset: 0;
        animation: reveal 6s infinite linear both;
      }
      .icon #polygon1 {
        fill: transparent;
        stroke: #FFF;
        stroke-width: 1;
        stroke-dasharray: 450;
        stroke-dashoffset: 0;
        animation: reveal 6s infinite linear both;
      }
      .icon #polygon2 {
        fill: transparent;
        stroke: #FFF;
        stroke-width: 1;
        stroke-dasharray: 450;
        stroke-dashoffset: 0;
        animation: reveal 6s infinite linear both;
      }
      
      .font {
        position: absolute;
        bottom: 30px;
        margin: 0 20px;
        color: white;
        font-family: "Lato", sans-serif;
        font-size: 1.6rem;
        text-align: center;
      }
      .font__link {
        color: #FFF;
        text-decoration: none;
      }
      
      @keyframes reveal {
        0% {
          fill: #FFF;
          stroke-dashoffset: 0;
        }
        20% {
          fill: transparent;
          stroke-dashoffset: 0;
        }
        50% {
          fill: transparent;
          stroke-dashoffset: 450;
        }
        80% {
          fill: transparent;
          stroke-dashoffset: 900;
        }
        90% {
          fill: #FFF;
          stroke-dashoffset: 900;
        }
        100% {
          fill: #FFF;
          stroke-dashoffset: 900;
        }
      }