@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Poller+One&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
        .section_1 {
                background: white;
                /* height: 100vh; */
                width: 100%;
                /* margin-top: -40%; */
                height: 300px; 
                overflow: hidden;

        }
        .header_h2 {
                text-align: center;
                font-family: 'Cinzel', serif;
                font-weight: 100;
        }
        .Home_text_buttons {
                text-align: center;
                font-family: 'Cinzel', serif;
                font-weight: 100;
        }
      .icon {
        /* width: 100%;
        max-width: 900px;
        margin: 0 20px; */
      }
      .icon svg {
        width: 20%;
        margin: auto;
        display: flex;
      }
      .icon #path1 {
        fill: transparent;
        stroke: crimson;
        stroke-width: 1;
        stroke-dasharray: 450;
        stroke-dashoffset: 0;
        animation: reveal 6s infinite linear both;
      }
      .icon #polygon1 {
        fill: transparent;
        stroke: crimson;
        stroke-width: 1;
        stroke-dasharray: 450;
        stroke-dashoffset: 0;
        animation: reveal 6s infinite linear both;
      }
      .icon #polygon2 {
        fill: transparent;
        stroke: crimson;
        stroke-width: 1;
        stroke-dasharray: 450;
        stroke-dashoffset: 0;
        animation: reveal 6s infinite linear both;
      }
      
      .font {
        position: absolute;
        bottom: 30px;
        margin: 0 20px;
        color: white;
        font-family: "Lato", sans-serif;
        font-size: 1.6rem;
        text-align: center;
      }
      .font__link {
        color: crimson;
        text-decoration: none;
      }
      
      @keyframes reveal {
        0% {
          fill: crimson;
          stroke-dashoffset: 0;
        }
        20% {
          fill: transparent;
          stroke-dashoffset: 0;
        }
        50% {
          fill: transparent;
          stroke-dashoffset: 450;
        }
        80% {
          fill: transparent;
          stroke-dashoffset: 900;
        }
        90% {
          fill: crimson;
          stroke-dashoffset: 900;
        }
        100% {
          fill: crimson;
          stroke-dashoffset: 900;
        }
      }






/* media queries tablet */



/* media queries phone */

@media screen and (max-width: 780px) {
        
      .icon svg {
        width: 60%;
        margin: auto;
        display: flex;
      }
}